In [ ]:
import sys
import os
import pandas as pd

In [7]:
df = pd.read_parquet("../sourcedata/df_metrics.parquet")
df.sort_values(by=['scene_full_name', 'subject', 'learning_phase'], inplace=True)
df

,subject,learning_phase,scene_full_name,count,cleared,speed,MAD_mean,delta_clr_tot,delta_spd_tot,delta_MAD_tot,level_full_name,scene
3267,im_sub-01,sub-01_epoch=0-step=2000,1-1-0,44,1.000000,65.546218,NaN,-0.909091,-59.380211,NaN,w1l1,0
3847,im_sub-01,sub-01_epoch=0-step=3500,1-1-0,44,1.000000,67.774272,NaN,-0.909091,-59.380211,NaN,w1l1,0
3557,im_sub-01,sub-01_epoch=0-step=500,1-1-0,44,1.000000,65.546218,NaN,-0.909091,-59.380211,NaN,w1l1,0
4137,im_sub-01,sub-01_epoch=0-step=5000,1-1-0,44,1.000000,69.729730,NaN,-0.909091,-59.380211,NaN,w1l1,0
2977,im_sub-01,sub-01_epoch=0-step=6500,1-1-0,44,0.090909,6.166008,NaN,-0.909091,-59.380211,NaN,w1l1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11715,sub-05,Late practice,8-3-9,0,NaN,NaN,NaN,NaN,NaN,NaN,w8l3,9
12295,sub-06,Early discovery,8-3-9,6,0.666667,69.068186,10.583333,0.133333,10.194895,-8.961299,w8l3,9
12585,sub-06,Early practice,8-3-9,6,0.833333,75.940503,3.608475,0.133333,10.194895,-8.961299,w8l3,9
12005,sub-06,Late discovery,8-3-9,6,0.833333,75.943115,5.003390,0.133333,10.194895,-8.961299,w8l3,9
12875,sub-06,Late practice,8-3-9,5,0.800000,79.263081,1.622034,0.133333,10.194895,-8.961299,w8l3,9

In [13]:
def get_sub_type(row):
    if row['subject'] == 'ppo':
        return 'ppo'
    elif row['subject'].startswith('im'):
        return 'imi'
    else:
        return 'hum'

df['sub_type'] = df.apply(get_sub_type, axis=1)

df_select = (
    df
    .groupby(['scene_full_name', 'sub_type'])[
        ['delta_clr_tot', 'delta_spd_tot', 'delta_MAD_tot']
    ]
    .mean()
    .reset_index()
)
df_select.head(20)

   scene_full_name sub_type  delta_clr_tot  delta_spd_tot  delta_MAD_tot
0            1-1-0      hum       0.000000      -0.400554      -0.502886
1            1-1-0      imi      -0.767514     -39.831417            NaN
2            1-1-0      ppo       0.000000      14.225168       0.355459
3            1-1-1      hum       0.023333       5.380366       0.396279
4            1-1-1      imi       0.058900      -1.718801            NaN
5            1-1-1      ppo       0.341317      50.466879      -9.334091
6           1-1-10      hum       0.000000      16.642659       1.731341
7           1-1-10      imi       0.029171       0.171553            NaN
8           1-1-10      ppo      -0.025000      18.316488      -5.795374
9           1-1-11      hum       0.013333      27.685205      -0.099856
10          1-1-11      imi       0.109634      22.485623            NaN
11          1-1-11      ppo       0.058442      21.996560      -5.634855
12          1-1-13      hum       0.166667       9.901358       0.227573
13          1-1-13      imi       0.090797       6.722717            NaN
14          1-1-13      ppo       0.120805      25.013137      -2.955224
15          1-1-14      hum       0.000000       5.626463      -2.927564
16          1-1-14      imi       0.056400       2.786857            NaN
17          1-1-14      ppo       0.000000      10.135769       0.337431
18           1-1-2      hum       0.000000       2.712481       1.959803
19           1-1-2      imi       0.053197      10.898857            NaN